/**
 * Style sheet for Henry's Homepage
 * @author: Henry Huang
 * @datae: 03/04/2010
 */

/* Most general styles for my website */
body {
	position: relative;

	width: 830px;
	height: auto;

	background-color: white;
	margin-top: 10px;	
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 10px;

	border-top: 2px solid #000000;
    	border-bottom: 2px solid #000000;
    	border-left: 2px solid #d8d8d8;
    	border-right: 2px solid #d8d8d8;
   
        padding-left: 12px;
        padding-right: 12px;

    	font-family: Verdana, arial, sans-serif;
    	font-size: 13px;
    	color: black;
}

/* control of three outermost blocks */
#top-section, #middle-section, #bottom-section {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

#top-section {
	height: 16px;
	background-color: black;
	color: white;
	padding: 0;
}

#middle-section {
	margin-top: 8px;
	height: auto;
}

#bottom-section {
	clear: both;
	height: 15px;
	background-color: black;
	color: white;
    	font-size: 10px;
}

/* control of styles in columns */ 
.left-col {
	float: left;		/* float attribute can be used together with position attribute! */
	width: 250px;
	z-index: 1;
}

.right-col {
	float: left;
	width: 576px;
	min-height: 605px;	/* key attribute to make your height stretchable with a minimum height */
	height: auto;

	margin-bottom: 10px;
    	border: 2px ridge #d8d8d8;
	padding: 0;

    	font-family: "Courier New", Courier, monospace;
    	font-size: 13px;
    	color: black;
	z-index: 0;
}

/* control of styles of rows in left columns */ 
#image {
	float: left;	
	width: 100%;
}

#image img {
	width: 215px;
	height: 290px;
    	border: 2px ridge #d8d8d8; 
}

#red-rectangle {
	position: absolute;
	top: 8px;
	left: -5px;
	width: 215px;
	height: 290px;
	background-color: red;
	z-index: -3;
}

#yellow-rectangle {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 215px;
	height: 290px;
	background-color: yellow;
	z-index: -1;
}

#blue-rectangle {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 215px;
	height: 290px;
	background-color: blue;
	z-index: -2;
}

#contact {
	clear: both;	
	width: 100%;
	height: 86px;
    	
	padding-top: 1px;
    	padding-bottom: 3px;
	
	font-size: 10px;
    	text-align: left;
}

#contact p {
	margin-left: 3px;
}

#nav {
	clear: both;	
	width: 100%;
	height: 200px;
    	
	font-size: 14px;
    	font-weight: bold;
    	font-family: "Trebuchet MS", Helvetica, sans-serif;
    	text-align: center;
}

/* styles of navigation menu */ 
#nav ul {
	position: relative;
	top: -16px;
	left: 0px;
	height: 100%;
	
	list-style-type: none;
	margin-right: 2px;
	padding: 0;
}

#nav a {
	width: 100%;
	height: 100%;
	display: block;
       	text-decoration: none;
	color: #000000;	
}

#tab1, #tab2, #tab3, #tab4, #tab5, #tab6 {
	width: 100%;
	height: 32px;
	background-color: #d8d8d8;
	border: 2px ridge #d8d8d8;
}

#tab1 {
	border-right: 2px solid #ffffff;
	background-color: #ffffff;
}

/* styles of contents in the right column */
#about, #projects, #resume, #hobbies, #photos, #links {
	position: relative;
	top: -20px;
	left: 5px;
	padding-right: 10px;
	
	text-align: justify;
    	font-family: "Trebuchet MS", Helvetic, sans-serif;
    	font-size: 14px;
}

#about h1, #projects h1, #resume h1, #hobbies h1, #photos h1, #links h1 {
    	font-family: "Times New Roman", Times, serif;
}

#links li {
	height: 25px;
}

/* styles for contents in Projects section */
#proj-lists table {
	border: 1px solid black;
	width: 100%;
}

#t1, #t2, #t3, #t4 {
	margin-bottom: 15px;
}

#t5 {
	margin-bottom: 0;
}

.r1 {
	height: 15px;
	background-color: #cc0033;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

.r2 {
    	font-size: 12px;
}

.r3 {
	color: #339900;
    	font-size: 12px;
}

.c1 {
	width: 80%;
}

.c2 {
	width: 20%;
}

.r2 .c1 {
	font-weight: bold;
    	font-size: 13px;
	color: #660099;
}

.r2 .c2 {
	color: #b0b0b0;
}

.r3 .c1 {
    	font-size: 11px;
}

.r3 .c2 {
	text-align: center;
	vertical-align: top;
}

.r4 div {
	border-top: 1px dotted #d0d0d0;
}

/* styles for contents in Photos section */
#scrollable {
	height: 150px;
	width: 550px;
	margin: auto;
	overflow: auto;
	border: 5px solid #ccc;
	padding-bottom: 10px;
	white-space: nowrap;
}

#scrollable ul {
	list-style: none;
	width: 2200px;
}

#scrollable li {
	margin: 0 10px;
	display: inline;
	float: left;
	width: 110px;
	border: 1px solid #0000ff;
	text-align: center;
}

#scrollable img {
	height: 90px;
	width: 110px;
}

#scrollable li:hover, #scrollable li:active {
	border: 1px solid #33cc00;
}

#display-large-photo {
	clear: both;
	width: 550px;
	height: 420px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #ccc;
}

/* style of bottom-section */
p#footnote, p#clock {
	display: inline;
}

p#clock {
	float: right;
	position: relative;
	top: -10px;
	right: 5px;
}

/* style of top-section */
div#top-section ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#top-section li {
	float: left;
}

div#top-section a {
	display: block;
	height: 100%;
	background-color: black;
       	text-decoration: none;
       	text-align: center;
    	font-weight: bold;
	color: white;
}

a#first, a#last {
	width: 139px;
}

a#second, a#third, a#fourth, a#fifth {
	width: 138px;
}

div#top-section a:hover, div#top-section a:active {
	background-color: #d8d8d8;
}
