/**
 * Style sheet for keenhenry site homepage
 * @author: Henry Huang
 * @datae: 20/09/2011
 */

/* control of styles of rows in left columns */ 
img {
	float: right;	
}

#nav {
	clear: both;	
    	text-align: right;
}

/* styles for navigation menu */ 
#nav a {
       	text-decoration: none;
}
