/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
  margin: 20px;
  font-family: Georgia, serif;
  font-size: 12pt;
}

h1 { font-size: 46px; }

.four.columns h1 {
    margin-bottom: 10px;
}

.navbar {
    width: 220px;
}

.navbar > section {
    position: fixed;
    width: inherit;
}

.upper {
    padding-top: 15px;
}

a {
    color: #06A; 
   	text-decoration: none;
} 

a:hover {
  color: #06A;
  text-decoration: underline;
  cursor: pointer;
}

a:visited { color: #607890; }

/* .left, .right { */
/*     padding: 0.2em;  */
/*     border:2px double #ddd;  */
/*     -moz-border-radius:5px;          */
/*     -webkit-border-radius:5px;       */
/*     border-radius:5px; */
/* } */

.opening.word {
  font-size: 20px;
}

/* #Page Styles
================================================== */

/*** Customized styles for homepage ***/ 

#twitter_div > ul > li {
    /* list-style-type : circle; */
    list-style-image: url('/static/image/twitter_12.png');
    padding: 0.1em; 
    /* border:2px double #ddd;  */
    /* -moz-border-radius:5px;          */
    /* -webkit-border-radius:5px;       */
    /* border-radius:5px; */
}

/* .date { */
/*     text-align: right; */
/* } */

/*** Customized styles for books page ***/ 
.author {
    font-size : 0.8em;
    font-style: italic;
    text-align: right;
}

/*** Customized styles for codes page ***/ 
.project.language {
    margin-left: 5em;
}

.project.description {
    margin-top: 1em;
}

.project.list.item {
    /* list-style-type : circle; */
    /* list-style-image: url('/static/image/twitter_12.png'); */
    padding: 0.2em; 
    border:2px double #ddd; 
    -moz-border-radius:5px;         
    -webkit-border-radius:5px;      
    border-radius:5px;
}

/*** Customized styles for blog page ***/ 

#blog-snippet {
    font-size: 1em;
}

#read-more {
    margin-top: 2em;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
