<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 	
<html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	<!-- Force Latest IE rendering engine -->
  <title>Keenhenry and his Web residence</title>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- <link href="http://feeds.feedburner.com/sirupsen" rel="alternate" title="Sirupsen" type="application/atom+xml" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/skeleton.css" />
  <!-- <link rel="stylesheet" type="text/css" href="/static/css/syntax.css" /> -->
  <!-- <link rel="stylesheet" type="text/css" href="/static/css/default.css" /> -->
  <!-- <link rel="stylesheet" type="text/css" href="/static/css/home.css" /> -->
</head>

<body>
  <!-- 1 column layout -->
  <div class="container">
    <!-- <div class="header"></div> -->
    {% include header.html %}
    <hr />
    <div class='center'>{{ content }}</div>
    <hr />
    {% include footer.html %}
  </div>
  <!-- Grab Google CDN's jQuery. fall back to local if necessary
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/static/js/jquery-1.6.4.min.js"%3E%3C/script%3E'))</script>
  -->
</body>
</html> 
