---
layout: default
blog: true
---

<header class="ten columns offset-by-four">
<h1>{{ page.title }}</h1>
</header>

<div class="five columns offset-by-four gray">
  {{ page.date | date_to_string }}
</div>

<div class='five columns' id='tweet'>
  <a href="http://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-count="horizontal" data-via="keenhenry" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Post Twitter Share']);">Tweet</a>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>

<article class="ten columns offset-by-four">
  {{ content }}

  <footer>
  <p id='follow'>
  You should follow me on Twitter <a href="https://twitter.com/keenhenry" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Post Twitter']);">@keenhenry</a>
  </p>
  </footer>
</article>
<!-- <div class="sixteen columns clearfix" id="paginator"> -->
<!--   {% if page.previous %} -->
<!--     <a id="left" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Older</a> -->
<!--   {% endif %} -->
<!--   {% if page.next %} -->
<!--     <a id="right" href="{{ page.next.url }}" title="{{ page.next.title }}">Newer &rarr;</a> -->
<!--   {% endif %} -->
<!-- </div> -->
